/* .title{
    font-size: 100px;
    color: red;
}

.caption{
   font-size: 50px;
   color: rebeccapurple; 
}

.ection{
    font-size: 200px;
    color: blue;
} */

 .newColor{
   background-color: yellow;
}

/* .site-nav__link{
    font-size: 100px;
}  */

